<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список игр</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Добавление игры</h1>
    <form action="/addGame" method="post">
        <input type="text" name="NAME", placeholder="Введите название игры" class="fprm-control"><br>
        <button type="submit" class="btn btn-success">Добавить игру</button>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>