<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список игр</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/game.css}">
</head>
<body>


<header th:insert="blocks/header :: header"></header>
<div class="container">

    <form action="#" th:action="@{/addGame}" th:object="${readGame}" method="post">
        <input type="text" name="NAME", placeholder="Введите название игры"><br>
        <input type="text" name="DESCRIBE", placeholder="Введите описание игры"><br>
        <input type="text" name="BACK", placeholder="Введите back игры"><br>
        <input type="text" name="LOGO", placeholder="Введите logo игры"><br>
        <input type="text" name="GAMETRAILER", placeholder="Введите game trailer игры"><br>
        <input type="text" name="TEASER", placeholder="Введите teaser игры"><br>
        <input type="text" name="PUBLISHER", placeholder="Введите publisher игры"><br>


        <button type="submit" class="btn btn-success">Зарегестрировать</button>
    </form>
</div>

</body>
</html>