<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Добавление пользователя</h1>
    <div th:if="${message == null}"></div>
    <form action="#" th:action="@{/addUsers}" th:object="${user}" method="post">
        <div th:if="${message}" class="er">Такой пользователь уже существует</div>
        <input type="text" name="NAME", placeholder="Введите логин" class="fprm-control"><br>


        <input type="password" name="PASSWORD", placeholder="Введите пароль" class="fprm-control"><br>

        <button type="submit" class="btn btn-success">Зарегестрировать</button>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>