<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Игра</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/game.css}">


</head>
<body>
<div class="black">
        <header th:insert="blocks/header :: header"></header>
        <div class="container">
            <div class="header">
                <div class="logo_game"></div>
                <div class="logo_publisher"></div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">Понравилось</a></li>
                    <li><a href="#">Обзоры на игру</a></li>
                    <li><a href="#">Другие игры</a></li>
                </ul>
            </div>
            <div class="content-wrapper">
                <div class="content">
                    <h3>Описание</h3>
                    <p>Испытайте survival horror, каким его еще не видели, в восьмой части легендарной серии Resident Evil — Resident Evil Village.

                        Спустя несколько лет после кошмарных событий Resident Evil 7 biohazard, заслужившей признание критиков, начинается другая история. Итан Уинтерс и его жена Миа обосновались на новом месте, вдали от ужасов прошлого. Но не успели супруги насладиться безмятежной жизнью, как их вновь постигла трагедия.</p>
                </div>
                <div class="total">
                    <h3>Оценки</h3>
                        <ul>
                            <li>Геймплей</li>
                            <li>Графика</li>
                            <li>Звук</li>
                            <li>Сюжет</li>
                            <li>Общая оценка</li>
                        </ul>
                </div>
                <div class="trailer">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/arEdruKxrQ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            </div>
</div>
</body>
</html>