<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список лайков</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Список лайков</h1>
    <div th:each="gameLike : ${gameLikes}" class="aler alert-info mt-2">
        <h3 th:text="${gameLike.USER_ID.NAME}"/>
        <p th:text="${gameLike.GAME_ID.NAME}"/>
        <p th:text="${gameLike.IS_GAME_LIKE}"/>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>