<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список игр</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/game.css}">
</head>
<body>


<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div th:each="game : ${readGame}" class="every_game">
        <form action="#" th:action="@{/update}" th:object="${readGame}" method="post">
            <input type="text" th:field="*{NAME}" id="NAME", placeholder="Введите название игры"><br>
            <input type="text" th:field="*{DESCRIBE}" id="DESCRIBE", placeholder="Введите описание игры"><br>
            <input type="text" th:field="*{BACK}" id="BACK", placeholder="Введите back игры"><br>
            <input type="text" th:field="*{LOGO}" id="LOGO", placeholder="Введите logo игры"><br>
            <input type="text" th:field="*{GAMETRAILER}" id="GAMETRAILER", placeholder="Введите game trailer игры"><br>
            <input type="text" th:field="*{TEASER}" id="TEASER", placeholder="Введите teaser игры"><br>
            <input type="text" th:field="*{PUBLISHER}" id="PUBLISHER", placeholder="Введите publisher игры"><br>
            <input readonly type="hidden" th:field="*{gameID}" id="GAME_ID", placeholder="Введите описание игры"><br>
            <button type="submit" class="btn btn-success">Обновить игру</button>
        </form>
    </div>
</div>

</body>
</html>