<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Игра</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/game.css}">


</head>
<body>
<div class="black">
        <header th:insert="blocks/header :: header"></header>
        <div class="container">
            <div class="header">
                <div class="logo_game"><img th:src="${logo}" width="400"></div>
                <div class="logo_publisher"><img th:src="${PUBLISHER}"></div>
            </div>
            <div th:each="game: ${readGame}" class="nav">
                <ul>
                    <li><a href="#">Понравилось</a></li>
                    <li><a href="#">Обзоры на игру</a></li>
                    <li><a href="/games">Другие игры</a></li>
                    <li><a th:href="'/game/' + ${game.gameID} + '/edits' ">Редактировать</a></li>
                </ul>
            </div>
            <div class="content-wrapper">
                <div th:each="game : ${readGame}" class="content">
                    <h3 th:text="${game.NAME}"></h3>
                    <p th:text="${game.DESCRIBE}"></p>


                    <div class="trailer">
                        <iframe width="560" height="315" th:src="${GAME_TRAILER}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
            </div>
</div>

<script th:inline="javascript">
/*<![CDATA[*/

var message = /*[[${gameBack}]]*/ 'default';
console.log(message);
document.body.style.background = "url('" + message + "') no-repeat fixed center top / cover";
/*]]>*/
</script>
</body>
</html>