<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать обзор</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/game.css}">


</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div class="content-wrapper">
        <form action="#" th:action="@{/updateReview}" th:object="${readReview}" method="post">
            <input type="text" th:field="*{NAME}" id="NAME", placeholder="Измените название обзора"><br>
            <input type="text" th:field="*{MESSAGE}" id="MESSAGE", placeholder="Измените текст обзора"><br>
            <input type="text" th:field="*{SCORE}" id="SCORE", placeholder="Введите описание игры"><br>
            <input readonly type="hidden" th:field="*{reviewID}" id="REVIEW_ID", placeholder="Введите описание игры"><br>
            <button type="submit" class="btn btn-success">Обновить игру</button>
        </form>
    </div>

</div>
</body>
</html>