<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Обзор</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/game.css}">


</head>
<body>
<div class="black">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">

        <div th:each="review: ${readReview}" class="nav">
            <ul>
                <li><a href="#">Понравилось</a></li>
                <li><a href="/reviews">Другие обзоры</a></li>
                <li><a href="/games">Другие игры</a></li>
                <li><a th:href="'/review/' + ${review.reviewID} + '/edit' ">Редактировать</a></li>
                <li><a href="#">Изменить статус</a></li>

            </ul>
        </div>
        <div th:each="review : ${readReview}" class="content-wrapper">
            <div class="total">
                <h3 th:text="${review.NAME}"></h3>
                <p th:text="${review.MESSAGE}"></p>
                <h3 >Оценки</h3>
                <ul>
                    <li>Название обзора
                        <p th:text="${review.NAME}"></p><br>
                    </li>
                    <li>Автор
                        <p th:text="${review.USER_ID.NAME}"></p><br>
                    </li>
                    <li>Название игры
                        <p th:text="${review.GAME_ID.NAME}"></p><br>
                    </li>
                    <li>Текст обзора
                        <p th:text="${review.MESSAGE}"></p><br>
                    </li>
                    <li>Статус
                        <p th:text="${review.statusID.statusMessage}"></p><br>
                    </li>
                </ul>


        </div>
    </div>
</div>
</body>
</html>