<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование игры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Редактирование игры</h1>
    <div th:each="user : ${readUser}">
        <form method="post">
            <input type="text" th:value="${user.NAME}" name="NAME", placeholder="Введите новый логин" class="fprm-control"><br>
            <input type="text" th:value="${user.PASSWORD}" name="PASSWORD", placeholder="Введите новый пароль" class="fprm-control"><br>
            <button type="submit" class="btn btn-success">Обновить пользователя</button>
        </form>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>